* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    background: url('img1.jpg');
    background-size: cover;
    overflow: hidden;
}

.main {
    width: 80%;
    position: absolute;
    height: 18vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back {
    background-color: rgba(0, 0, 0);
    opacity: 0.8;
    z-index: 1;
    width: 50%;
    height: 18vw;
    position: absolute;
    padding: 2vw 5vw;
    border-radius: 0;
}

.back h1 {
    color: white;
    line-height: 2em;
    padding-bottom: 0.4em;
    font-size: 2em;
}

.back p {
    color: rgb(184, 165, 165);
    font-size: 1.2em;
}

.back.sign {
    right: 50%;
    top: 0;
}

.back.log {
    left: 50%;
    top: 0;
}

.button {
    border-radius: 6px;
    background-color: black;
    border: 0.1em solid white;
    color: whitesmoke;
    width: 30%;
    font-size: 1em;
    margin-top: 1.4em;
    height: 2.2em;
}

.form {
    background-color: white;
    z-index: 2;
    width: 45%;
    height: 30vw;
    position: absolute;
    text-align: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.637),
        -2px -3px 4px rgba(0, 0, 0, 0.164);
}

.form h2 {
    color: rgb(199, 96, 199);
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.form input {
    color: gray;
    height: 2em;
    width: 80%;
    margin: 0.6em;
    padding-left: 0.2em;
    border: none;
    font-size: 1.1em;
    border-radius: 0;
    background-color: white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.671);
}

::placeholder {
    color: rgba(151, 133, 119, 0.685);
    font-size: 0.8em;
    padding-left: 0.2em;
}

.form button {
    border-radius: 6px;
    background-color: rgb(146, 63, 146);
    color: white;
    width: 30%;
    font-size: 1.4em;
    margin-top: 1em;
    height: 2.3em;
    position: relative;
    left: 25%;
}

.form.log button {
    background-color: rgb(54, 131, 121);
}

.form.sign {
    visibility: hidden;
    right: 50%;
    top: -35%;
}

.form.log {
    visibility: hidden;
    left: 50%;
    top: -35%;
}

.form.log h2 {
    color: rgb(53, 156, 113);
    font-size: 2.3em;
}

@media (max-width: 1200px) {
    body {
        font-size: 70%;
    }

    .form h2 {
        line-height: 1.6em;
    }
}

@media (max-width: 990px) {
    body {
        font-size: 60%;
    }

    .form h2 {
        line-height: 1.6em;
    }
}

@media (max-width: 780px) {
    body {
        font-size: 40%;
    }

    .back {
        height: 16em;
    }

    .form {
        height: 30em;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 30%;
    }

    .back {
        height: 16em;
    }

    .form {
        height: 30em;
    }
}

@media (max-width: 370px) {
    body {
        font-size: 40%;
    }

    .back {
        height: 16em;
    }

    .form {
        height: 30em;
    }

    .back p {
        display: none;
    }
}
